@import "variables";
@import "../../bower_components/materialize/sass/materialize";

body {
  background: color('grey', 'lighten-4');
  //background: #001f30;
}

.nav-wrapper {
  padding: 0 1rem;

  .active {
    background: rgba(255, 255, 255, .1);
  }
}

.container {
  max-width: 1000px;
}

.material-icons.equalize {
  transform: translateY(15%);
}

.register-table {
  td {
    padding: 0;
    text-align: center;
    width: 50%;
  }

  input {
    margin: 0;
    text-align: center;
    height: 1.25rem;
    border: none;
  }
}