@import "variables";
@import "../../bower_components/materialize/sass/materialize";
@import "../../bower_components/angular/angular-csp";

body {
  background: color('grey', 'lighten-4');
  //background: #001f30;
}

.nav-wrapper {
  padding: 0 1rem;

  .active {
    background: rgba(255, 255, 255, .1);
  }
}

.container {
  max-width: 1000px;
}

.material-icons.equalize {
  transform: translateY(15%);
}

table.thin-table {
  td {
    padding: 0;

    &.fix-center {
      padding-right: 1rem;
    }

    &.disabled {
      color: transparentize($off-black, .4);
    }
  }

  input {
    margin: 0;
    height: 1.25rem;
    border: none;
  }
}

.register-table {
  td {
    text-align: center;
    width: 50%;
  }

  input {
    text-align: center;
  }
}

.code-table {
  font-family: Monospaced, monospace;

  td{
    &:nth-of-type(1){
      width: 10%;
    }
    &:nth-of-type(2){
      width: 90%;
    }
  }
}

.active-pc {
  background: #FC8 !important;
}